<template>
  <el-form
    class="editor"
    :model="ruleForm"
    :rules="rules"
    ref="ruleForm"
    label-position="left"
    label-width="70px"
  >
    <el-form-item label="文章标题">
      <el-row>
        <el-col :span="18">
      <el-input class="title" v-model="ruleForm.title"></el-input>
        </el-col>
      
      <el-col :span="6">
      <el-button
        class="submit-button"
        type="primary"
        style="float: right"
        @click="onSubmit"
      >
        文章发布
      </el-button>
      </el-col>
      </el-row>
    </el-form-item>

    <el-form-item label="文章标签">
      <el-tag
        :key="tag"
        v-for="tag in ruleForm.tags"
        closable
        :disable-transitions="false"
        @close="handleClose(tag)">
        {{tag}}
      </el-tag>
      <el-input
        class="input-new-tag"
        v-if="inputVisible"
        v-model="inputValue"
        ref="saveTagInput"
        size="small"
        @keyup.enter.native="handleInputConfirm"
        @blur="handleInputConfirm"
      >
      </el-input>
      <el-button v-else class="button-new-tag" size="small" @click="showInput">+ New Tag</el-button>
    </el-form-item>

    <markdown-editor
      v-model="ruleForm.content"
      :highlight="true"
      preview-class="markdown-body"
    ></markdown-editor>

  </el-form>
</template>

<script>
import markdownEditor from 'vue-simplemde/src/markdown-editor';
import hljs from 'highlight.js';
import axios from 'axios';

window.hljs = hljs;
export default {
  components: {
    markdownEditor,
  },
  data() {
    return {
      configs: {
        status: false,
        toolbar: ['image'],
      },
      output: '',
      type: 'markdown',
      ruleForm: {
        title: '',
        content: '',
        tags: [],
      },
      rules: {},
      inputVisible: false,
      inputValue: '',
      fileList: [],
    };
  },
  computed: {
    simplemde() {
      return this.$refs.markdownEditor.simplemde;
    },
  },
  methods: {
    handleInput(val) {
      this.output = val;
    },
    handleClose(tag) {
      this.ruleForm.tags.splice(this.ruleForm.tags.indexOf(tag), 1);
    },
    showInput() {
      this.inputVisible = true;
      this.$nextTick(_ => {
        this.$refs.saveTagInput.$refs.input.focus();
      });
    },
    handleInputConfirm() {
      let inputValue = this.inputValue;
      if (inputValue) {
        this.ruleForm.tags.push(inputValue);
      }
      this.inputVisible = false;
      this.inputValue = '';
    },
    onSubmit() {
      console.log(this.ruleForm);
      axios.post('/api/article',this.ruleForm)
        .then((response) => {
          console.log(response.data)
        })
        .catch((error) => {
          console.log('request error : ' + error)
        });
    },
  },
};
</script>

<style>
@import '~simplemde/dist/simplemde.min.css';
@import '~highlight.js/styles/atom-one-dark.css';
@import '~github-markdown-css';

body {
  margin: 0;
  padding: 0;
}
.editor {
  padding: 10px;
  box-sizing: border-box;
}
.markdown-editor .CodeMirror {
  height: 400px;
  text-align: left;
}
/*修改代码块背景色及字体颜色*/
.theme .editor-preview-side pre, .theme .editor-preview pre{
  color: #abb2bf !important;
  background: #282c34 !important;
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.el-tag + .el-tag {
  margin-left: 10px;
}
.button-new-tag {
  margin-left: 10px;
  height: 32px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}

.submit-button {
  float: right;
}
</style>