<template>
  <el-container>
    <el-aside class="aside">
      <el-menu
        :default-active="currentItem"
        class="nav-menu"
        :collapse="false"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#478ff3"
        @select="menuSelect"
      >
        <el-menu-item index="dashboard">
          <i class="el-icon-location"></i>
          <span slot="title">首页</span>
        </el-menu-item>
        <el-menu-item index="editor">
          <i class="el-icon-edit"></i>
          <span slot="title">编辑文章</span>
        </el-menu-item>
          <el-submenu index="1">
            <template slot="title">
              <i class="el-icon-location"></i>
              <span slot="title">分组一</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="1-1">选项1</el-menu-item>
              <el-menu-item index="1-2">选项2</el-menu-item>
            </el-menu-item-group>
          </el-submenu>
      </el-menu>
    </el-aside>

    <el-container>
      <el-main style="{border: 1px solid;}">
        <router-view></router-view>
      </el-main>
      </el-container>
  </el-container>
</template>

<script>
export default {
  created() {
    this.currentItem = this.$route.name;
  },
  data() {
    return {
      currentItem: '',
    };
  },
  methods: {
    menuSelect(index, indexPath) {
      this.$router.push(index);
    },
  },
}
</script>

<style>
.aside {
  width: 200px !important;
}
.nav-menu {
  width: 200px;
  height: 100vh;
  border-right: 0px;
}
</style>
